/* Shared CSS for both pages */
body {
    font-family: Arial, sans-serif;
    background-image: url("iSafeResult.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

/* Quiz Page CSS */
.quiz-container {
    background-color: rgb(228, 223, 228);
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text within the container */
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
    font-size: 24px; /* Increase the question font size */
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* Hide the "Next" button initially */
}

/* Results Page CSS */
.result-container {
    max-width: 600px;
    margin: 0 auto; /* Center the result container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text within the result container */
}
